
.choose {
  margin-top: 0.3rem;
  margin-left: 0.1rem;
}

.chartChoose {
  margin-top: 0.4rem;
}

.chartChoose-item {
  padding: 0.25rem 0;
}

.chartChoose-item-title {
  display: inline-block;
  margin-right: 0.3rem;
}
